.btn
{
    -fx-background-image: url("image/TextField.png");
    -fx-focus-color: transparent;-fx-background-size:197 31 ;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 197;
    -fx-pref-height: 28;
    -fx-font-family: "Assassin$" ;
    -fx-font-size: 18;
}
@font-face
{
    src: url('font/Assassin$.ttf');

}

.main
{
    -fx-background-image: url("image/background.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: no-repeat;
}
